/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
/test/dummy/log/*.log
/test/dummy/storage/
/test/dummy/tmp/
/.gem_rbs_collection
/.idea
/.github
/*rbs_collection.lock.yaml
/*rbs_collection.yaml
/.ruby_version
/.ruby_gemset
/Gemfile.lock
